* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  border-radius: 12px;
  background-color: rgba(36, 39, 58, 0);
}

#cpu,
#memory,
#disk,
#temperature {
  font-size: 15px;
  background: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  color: #cad3f5;
}

#cpu {
  color: #eed49f;
  padding: 0px 10px 0px 12px;
  border-radius: 5px 0px 0px 5px;
}

#memory {
  color: #a6da95;
  padding: 0px 0px 0px 0px;
}

#disk {
  color: #7dc4e4;
  padding: 0px 10px 0px 0px;
}

#temperature {
  color: #ed8796;
  padding: 0px 12px 0px 10px;
  border-radius: 0px 5px 5px 0px;
}

#pulseaudio,
#network,
#bluetooth {
  font-size: 15px;
  background: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  color: #cad3f5;
}

#pulseaudio {
  color: #91d7e3;
  padding: 0px 10px 0px 12px;
  border-radius: 5px 0px 0px 5px;
}

#network {
  color: #f5a97f;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#bluetooth {
  color: #b7bdf8;
  padding: 0px 12px 0px 0px;
  border-radius: 0px 5px 5px 0px;
}

#custom-launcher {
  font-size: 20px;
  color: #8aadf4;
  padding: 0 15px 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#custom-playerctl {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 12px;
  color: #cad3f5;
}

#hyprland-workspaces {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 5px;
}

#workspaces button label,
#workspaces button,
#workspaces button label:hover,
#workspaces button:hover {
  background: transparent;
  border: none;
  transition: none;
  padding: 0;
}

#workspaces button:nth-child(1) label {
  color: #8aadf4;
  margin: 0 8px;
}

#workspaces button:nth-child(2) label {
  color: #ed8796;
  margin: 0 8px;
}

#workspaces button:nth-child(3) label {
  color: #a6da95;
  margin: 0 8px;
}

#workspaces button:nth-child(4) label {
  color: #c6a0f6;
  margin: 0 8px;
}

#workspaces button:nth-child(5) label {
  color: #f4dbd6;
  margin: 0 8px;
}

#workspaces button:nth-child(6) label {
  color: #f5a97f;
  margin: 0 8px;
}

#workspaces button:nth-child(7) label {
  color: #8bd5ca;
  margin: 0 8px;
}

#workspaces button:nth-child(8) label {
  color: #7dc4e4;
  margin: 0 8px;
}

#workspaces button:nth-child(9) label {
  color: #b7bdf8;
  margin: 0 8px;
}

#workspaces button.active label {
  color: #fab387;
}

#clock {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 0px 0px 12px;
  color: #cad3f5;
}

#custom-dnd {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 12px 0px 12px;
  color: #cad3f5;
}

#tray {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 12px 0px 12px;
  color: #cad3f5;
}

#custom-dnd {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 0 0 5px;
  padding: 0px 12px 0px 12px;
  color: #cad3f5;
}

#battery {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0;
  padding: 0;
  color: #cad3f5;
}

#custom-logout {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 5px 5px 0;
  padding: 0px 12px 0px 12px;
  color: #cad3f5;
}

#custom-uptime {
  background-color: rgba(45, 48, 71, 0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 12px;
  color: #cad3f5;
}

#custom-separator {
  background-color: transparent;
  padding: 0px 5px;
  margin: 0;
}

.modules-right {
  border-radius: 5px 0px 0px 5px;
}

#custom-window-name {
  color: #68b0d6;
  margin-right: 10px;
  background-color: #1a1c2b;
}

#custom-right-arr {
  color: #8aadf4;
  background-color: #1a1c2b;
}

#custom-pacman {
  color: #68b0d6;
  background-color: #1a1c2b;
}

#custom-dot {
  color: #6e738d;
  padding-right: 10px;
}

#custom-dot-alt {
  color: #a5adcb;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-clock-icon {
  color: #cad3f5;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler {
  color: #6e738d;
  padding-left: 0px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler2 {
  color: #6e738d;
  padding-left: 3px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
