@import "../../.cache/wal/colors-waybar.css";

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
}

#cpu,
#memory,
#disk,
#temperature {
  color: @foreground; 
  margin-right: 8px;
}


#pulseaudio,
#network,
#bluetooth {
  color: @foreground; 
  margin-right: 8px;
}


#custom-launcher {
  font-size: 20px;
  color: @color12;
  padding: 0 15px 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#custom-playerctl {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 8px;
  color: @foreground;
}

#workspaces button label,
#workspaces button,
#workspaces button label:hover,
#workspaces button:hover {
  background: transparent;
  border: none;
  transition: none;
  padding: 0;
}


#workspaces button:nth-child(1) label {
  color: @color12;
  margin: 0 8px;
}

#workspaces button:nth-child(2) label {
  color: @color1;
  margin: 0 8px;
}

#workspaces button:nth-child(3) label {
  color: @color2;
  margin: 0 8px;
}

#workspaces button:nth-child(4) label {
  color: @color5; 
  margin: 0 8px;
}

#workspaces button:nth-child(5) label {
  color: @color7; 
  margin: 0 8px;
}

#workspaces button:nth-child(6) label {
  color: @color10;
  margin: 0 8px;
}

#workspaces button:nth-child(7) label {
  color: @color14;
  margin: 0 8px;
}

#workspaces button:nth-child(8) label {
  color: @color12; 
  margin: 0 8px;
}

#workspaces button:nth-child(9) label {
  color: @color13; 
  margin: 0 8px;
}

#workspaces button.active label {
  color: @color2; 
}


#clock {
  color: @foreground; 
}

#custom-dnd {
  margin-right: 8px;
  color: @foreground;
}

#tray {
  color: @foreground; 
  margin-right: 8px;
}

#custom-dnd { 
  color: @foreground; 
  margin-right: 8px;
}

#power-profiles-daemon {
  color: @foreground; 
  margin-right: 8px;
}

#battery {
  color: @foreground; 
  margin-right: 8px;
}

#custom-logout {
  color: @foreground;
  margin-right: 8px;
}

#custom-uptime {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 12px;
  color: @foreground; 
}


#custom-separator {
  background-color: transparent;
  padding: 0px 0px;
  margin: 0;
}

.modules-right {
  border-radius: 5px 0px 0px 5px;
}

#custom-window-name {
  color: @foreground;
  margin-right: 10px;
  background-color: @color0; 
}

#custom-right-arr {
  color: @foreground; 
  background-color: @color0;
}

#custom-pacman {
  color: @foreground;
  background-color: @color0;
}

#custom-dot {
  color: @foreground; 
  padding-right: 10px;
}

#custom-dot-alt {
  color: @foreground; 
  padding-left: 10px;
  padding-right: 10px;
}

#custom-clock-icon {
  color: @foreground; 
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler {
  color: @foreground;
  padding-left: 0px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler2 {
  color: @foreground; 
  padding-left: 3px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.forward, #custom-playerlabel {
	color: @foreground;
}	